@import "../../../assets/scss/app";

.themeSwitcher {
  display: flex;

  .btn {
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    @include center();


    &:first-child {
      margin-right: 5px;
    }

    &_left_light {
      box-shadow: -3px -3px 5px #FFFFFF, 0px 0px 5px #D6D6E1;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &_left_dark {
      box-shadow: inset -3px -3px 5px #30343A, inset 3px 3px 5px #24262C;
    }

    &_right_light {
      box-shadow: inset -3px -3px 5px #FFFFFF, inset 3px 3px 5px #D6D6E1;
      //transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &_right_dark {
      box-shadow: -3px -3px 5px #30343A, 3px 3px 5px #24262C;
    }

  }
}