@import "../../assets/scss/app";

.dds {
  padding-top: vw(64);
  display: flex;
  flex-direction: column;

  @include tablet() {
    padding-top: 64px;
  }

  @include desktop() {
    padding-top: 130px;
    flex-direction: row-reverse;
    align-items: center;
  }

  .firstBlock {
    @include center();

    @include desktop() {
      flex-grow: 1;
    }

    img {
      width: vw(300);

      @include tablet() {
        width: 300px;
      }

      @include desktop() {
        height: 500px;
        width: auto;
      }
    }
  }

  .secondBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: vw(48);

    @include tablet() {
      margin-top: 48px;
    }

    @include desktop() {
      margin-top: 0;
      align-items: flex-start;
      width: 386px;
    }


    .title {
      font-style: normal;
      font-weight: bold;
      font-size: vw(80);
      line-height: vw(98);
      display: flex;
      align-items: center;
      flex-direction: column;

      @include tablet() {
        font-size: 80px;
        line-height: 98px;
      }

      @include desktop() {
        align-items: flex-start;
      }

      p:not(:first-child) {
        margin-top: vw(-10);

        @include tablet() {
          margin-top: -10px;
        }
      }

    }


    .text {
      margin-top: vw(17);
      font-style: normal;
      font-weight: 300;
      font-size: vw(31);
      line-height: vw(38);
      text-align: center;
      width: vw(386);

      @include tablet() {
        margin-top: 17px;
        font-size: 31px;
        line-height: 38px;
        width: 386px;
      }

      @include desktop() {
        text-align: left;
        margin-top: 46px;
      }

    }

    .btn {
      cursor: pointer;
      border: none;
      font-style: normal;
      font-weight: bold;
      font-size: vw(20);
      line-height: vw(24);
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      text-shadow: 0px vw(4) vw(4) rgba(0, 0, 0, 0.25);
      background: linear-gradient(90deg, #44A1F6 0%, #2962F4 100%);
      box-shadow: inset 0 vw(-2) 0px rgba(0, 0, 0, 0.25);
      border-radius: vw(40);
      padding: vw(28) vw(70);
      margin-top: vw(16);

      @include tablet() {
        font-size: 20px;
        line-height: 24px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        padding: 28px 70px;
        margin-top: 16px;
      }

      @include desktop() {
        margin-top: 45px;
      }
    }
  }
}



