@import "../../assets/scss/app";

.ourTeam {
  padding-top: 68px;

  @include desktop() {
    padding-top: 108px;
  }

  .swiper {
    margin-top: 50px;

    @include desktop() {
      margin-top: 70px;
    }

    .slide {
      width: 255px;
      height: 342px;
      padding-top: 80px;
      padding-bottom: 42px;
      box-sizing: border-box;

      .inner {
        height: 220px;
        box-sizing: border-box;
        background: linear-gradient(85.96deg, rgba(255, 255, 255, 0) -20.51%, rgba(255, 255, 255, 0.05) 26.82%, rgba(255, 255, 255, 0) 65.65%), rgba(196, 196, 196, 0.05);
        box-shadow: 11px 17px 29px rgba(0, 0, 0, 0.05), inset 0px -2px 1px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(30px);
        border-radius: 36px;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        img {
          position: absolute;
          width: 160px;
          height: 160px;
          left: 50%;
          transform: translate(-50%);
          top: -80px;
        }

        .name {
          width: 204px;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          text-align: center;
        }

        .job {
          margin-top: 12px;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
        }

      }


    }
  }


}