@import "../../assets/scss/app";

.portfolio {
  padding-top: vw(48);

  @include tablet() {
    padding-top: 48px;
  }

  @include desktop() {
    padding-top: vw(68);

    @include tablet() {
      padding-top: 68px;
    }
  }

  .images {
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: vw(40);
    //margin-top: 40px;

    @include tablet() {
      margin-top: 40px;
    }

    .inner {
      width: vw(1110);
      //width: 1110px;
      display: flex;

      @include tablet() {
        width: 1110px;
      }

      .left {
        flex-grow: 0;

        .row {
          display: flex;

          &:last-child {
            margin-top: vw(30);

            @include tablet() {
              margin-top: 30px;
            }
          }

          a {
            display: block;
            text-decoration: none;
          }

          a:last-child {
            margin-left: vw(30);

            @include tablet() {
              margin-left: 30px;
            }
          }
        }
      }

      .right {
        margin-left: vw(30);

        @include tablet() {
          margin-left: 30px;
        }
      }
    }
  }

  .btn {
    text-decoration: none;
    margin: vw(53) auto 0;
    height: vw(50);
    border-radius: vw(25);
    width: vw(160);
    font-size: vw(16);
    line-height: vw(20);
    display: flex;
    align-items: center;
    text-align: center;
    @include center();

    @include tablet() {
      margin: 53px auto 0;
      height: 50px;
      border-radius: 25px;
      width: 160px;
      font-size: 16px;
      line-height: 20px;
    }

    @include desktop() {
      margin: vw(60) auto 0;

      @include tablet() {
        margin: 60px auto 0;
      }
    }

    &_light {
      color: #292D32;
      box-shadow: -3px -3px 5px #FFFFFF, 0px 0px 5px #D6D6E1;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &_dark {
      color: #FFFFFF;
      box-shadow: -3px -3px 5px #30343A, 3px 3px 5px #24262C;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}