@import "../../assets/scss/app";

.workPage {
  padding-top: 73px;

  @include desktop() {
    padding-top: 73px;
  }

  .icons {
    margin-top: 25px;
    display: flex;

    @include desktop() {
      margin-top: 33px;
    }

    .item {
      display: block;
      width: 48px;
      height: 48px;

      &:not(:first-child) {
        margin-left: 13px;
      }
    }
  }

  .textWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    @include desktop() {
      margin-top: 36px;
      flex-direction: row;
      align-items: center;
    }

    .text {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;

      @include desktop() {
        width: 565px;
      }
    }

    .link {
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      margin-top: 35px;

      @include desktop() {
        margin-top: 0;
        margin-left: 115px;
      }

      &_light {
        color: #292D32;
      }

      &_dark {
        color: #FFF;
      }

    }
  }

  .img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 36px;

    @include desktop() {
      margin-top: 80px;
    }

  }

  .bigForm {
    margin-top: 66px;

    @include desktop() {
      margin-top: 88px;
    }
  }


}