@import "../../assets/scss/app";

.ourPartners {
  padding-top: vw(90);

  @include tablet() {
    padding-top: 90px;
  }

  .swiper {
    margin-top: vw(63);

    @include tablet() {
      margin-top: 63px;
    }

    @include desktop() {
      margin-top: 38px;
    }

    .slide {
      width: vw(181);

      @include tablet() {
        width: 181px;
      }

      svg {
        width: vw(181);

        @include tablet() {
          width: 181px;
        }

        path {
          fill: #777F89;
        }
      }
    }
  }

  .pagination {
    margin-top: vw(40);

    @include tablet() {
      margin-top: 40px;
    }

    @include desktop() {
      margin-top: 50px;
    }
  }
}